/*Color scheme:
#455144 grey/green
#3F4C1B Dark Green
#689323 Standard Green
#8BB174 Pale Green
#B5CA8D Desaturated Yellow-Green
*/

/*need a gd font*/
@import url('https://fonts.googleapis.com/css?family=Lato');

.element::-webkit-scrollbar { 
    display: none; 
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8BB174;
	position: fixed;
	top: 0;
	width: 100%;
}

.styled-select select {
	display: none;
	width: 100%;
}
	
.styled-select{
	background-color: #8BB174;
	font-size: 40px;
	padding-bottom: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
 	text-indent: 1px;
 	text-overflow: '';
}

/*Standard Body CSS Starts*/

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: linen;
	cursor: url(../images/cursor.ico), auto;
	
}
h1 {
	color: #3F4C1B;
	font-size: 700%;
	text-align: center;
}
h2 {
	color: #689323;
	font-size: 400%;
	text-align: center;
	margin-top: -20px;
	font-weight: 300;
}
h3 {
	color: #3E711A;
	font-size: 300%;
	text-align: center;
	font-weight: 100;
	margin-bottom: 10%;
}
p {
	color: #3F4C1B;
	font-size: 300%;
}
a {
	text-decoration: none;
	color: #689323;
	cursor: url(../images/cursor.ico), auto;
}
li {
/*	font-family: SanFran;*/
}
/*Standard Body CSS Ends*/

/*special Body Info Starts*/
.bodycontent {
	padding: 10% 10%;
}
.centerimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centertext {
	text-align: center;
}
.homeimage{
	width: 200px;
}
.smbutton {
	background-color: rgba(139, 177, 116, 1);
	padding: 10px;
	margin: 0px 15px;
	border-radius: 12.632px;
	transition: 1s;
}
.smbutton:hover {
	background-color: rgba(139, 177, 116, 0.5);
	transition: 1s;
}
.contentbutton {
	background-color: rgba(139, 177, 116, 1);
	padding: 10px;
	border-radius: 12.632px 12.632px 0px 0px;
	width: 100px;
	display: inline-block;
	margin: 3px 20px;
	transition: 1s;
}
.contentbutton:hover {
	background-color: rgba(139, 177, 116, 0.5);
	transition: 1s;
}
.contentbuttonimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 80px;
	padding-top: 10%;
}
.contentbuttonmore {
	background-color: rgba(139, 177, 116, 1);
	padding: 10px;
	border-radius: 0px 0px 12.632px 12.632px;
	width: 100px;
	display: inline-block;
	margin-top: 5px;
	border: none;
	z-index: 0;
	margin: 3px 20px;
	transition: 0.5s;
}
.contentbuttonmore:hover {
	background-color: rgba(139, 177, 116, 0.5);
	transition: 0.5s;
}
.descriptionContent {
	background-color: rgba(139, 177, 116, 0.5);
	border-radius: 12.632px;
	width: 90%;
	/*display: none;*/
	margin-left: auto;
	margin-right: auto;
	padding: 1px 20px;
}
.footer-placeholder{
	margin: -50px 0px 20px 0px;
}