/*Color scheme:
#455144 grey/green
#3F4C1B Dark Green
#689323 Standard Green
#8BB174 Pale Green
#B5CA8D Desaturated Yellow-Green
*/

/*navigation bar CSS Starts*/
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8BB174;
	position: fixed;
	top: 0;
	width: 100%;
}
li.navbar {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li.navbar a:hover:not(.statushome) {
	background-color: #B5CA8D;
}
.statushome {
	background-color: #3F4C1B;
}
/*Navigation Bar CSS Ends*/

/*Standard Body CSS Starts*/
@font-face{
	font-family: SanFran;
	src: url(../fonts/iOSSF.ttf);
}
body {
	margin: 0;
	font-family: SanFran;
	background-color: linen;
	cursor: url(../images/cursor.ico), auto;
}
h1 {
	color: #3F4C1B;
	font-size: 300%;
	text-align: center;
	font-family: SanFran;
}
h2{
	color: #689323;
	font-size: 250%;
	text-align: center;
	font-family: SanFran;
}
h3{
	color: #689323;
	font-size: 130%;
	text-align: center;
	font-family: SanFran;
}
p {
	color: #3F4C1B;
	font-family: SanFran;
	font-size: 150%;
	display: block;
	margin-left: 15%;
	margin-right: 15%;
}
a{
	text-decoration: none;
	color: #689323;
	cursor: url(../images/cursor.ico), auto;
}
li{
	font-family: SanFran;
}
button{
	font-family: SanFran;
}

/*Standard Body CSS Ends*/

/*special Body Info Starts*/

.centerimage{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centertext{
	text-align: center;
}
.smbutton{
	background-color: rgba(139, 177, 116, 1);
	padding: 10px;
	border-radius: 12.632px;
}
.smbutton:hover{
	background-color: rgba(139, 177, 116, 0.5);
}
.contentbutton{
	background-color: rgba(139, 177, 116, 1);
	padding: 10px;
	border-top-left-radius: 12.632px;
	border-top-right-radius: 12.632px;
	width: 10%;
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
}
.contentbutton:hover{
	background-color: rgba(139, 177, 116, 0.5);
}
.contentbuttonimage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 80%;
	padding-top: 10%;
}
.contentbuttonmore{
	background-color: rgba(139, 177, 116, 1);
	padding: 10px;
	border-bottom-left-radius: 12.632px;
	border-bottom-right-radius: 12.632px;
	width: 10%;
	display: inline-block;
	margin-top:5px;
	border: none;
	z-index: 0;
	margin-right: 2%;
	margin-left: 2%;
}
.contentbuttonmore:hover{
	background-color: rgba(139, 177, 116, 0.5);
}
.descriptionContent{
	background-color: rgba(139, 177, 116, 0.5);
	border-radius: 12.632px;
	width: 60%;
	display: none;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	
}