@media (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(#4791cf, #a08bed);
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-image: linear-gradient(#32CCFE, #DA74E5);
    }
}

#popupoverlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: saturate(100%) blur(3px);
    pointer-events: none;
    z-index: 2;
    cursor: pointer;
}
  
#popuptext{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.mccard {
    position: relative;
    margin: 20px 0px;
    padding: 0px;
    width: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
    overflow:hidden;
    z-index: 0;
}
.mccard img{
    width:100%;
    transition: all 1s ease;
    z-index:0;
}
.mcimage {
    width: auto;
    height: 180px;
    cursor:crosshair;
    overflow:hidden;
}
.mcheader {
    position: relative;
    z-index:0;
    width: 100%;
    height: 180px;
    box-shadow:0 4px 3px #0002;
    overflow: hidden;
}
.mcimage:hover img{
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}
.mcheader h2{
    position:absolute;
    bottom:0;
    margin:0;
    width:100%;
    padding:0 10px;
    color:#fff;
    text-transform:uppercase;
    pointer-events:none;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.mcicon {
    position: absolute;
    background:#fff;
    right: 10px;
    top: 135px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow:hidden;
    border:3px solid #fff;
    box-shadow:0 4px 3px #0002;
    z-index:9
}
#restc, #rests{
    padding:30px 15px;
    line-height:30px;
}

.button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12.632px;
    transition: 1s;
}
.button a {
    text-decoration: none;
}
/*@media screen and (max-aspect-ratio: 13/9) {*/
    @media (max-width:960px)  {
        .button a {
            font-size: 8pt;
        }
    }
    
.button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: 0.25s;
    cursor: pointer;
}

.frosted {
    opacity: 0.6;
	background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: saturate(120%) blur(10px);
}

.glass {
    background-color: rgba(255, 255, 255, 0.10);
	backdrop-filter: saturate(120%) blur(10px);
}

.panel {
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    /*margin-left: auto;
    margin-right: auto;*/
    position:relative;
}
.centerobj {
    margin-left: auto;
    margin-right: auto;
}
.dense {
    padding: 25px 25px;
}
.sleek {
    padding: 10px 10px;
}
.panel p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.centered {
    text-align: center;
}

.full {
    width: 100%;
}
.fit {
    width: auto;
}
.sub {
    width: calc(90% - 5vh);
}

.info {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 25px;
}

.panel > .info > * {
    flex: 1 1 0;
    max-width: 100%;
    /*min-width: 100px;*/
}
.panel > .info > img {
    max-width: 50%;
}
.panel > .info > img:not(.transparent) {
    border-radius: 10%;
}
.panel > .info > img.transparent {
    border-radius: 0px;
}
.panel > .info > p, .panel > .info > h2 {
    min-width: calc(100% - 250px);
    /*min-width: 70%;*/
}
.panel > .info > a, .panel > .info > img, .panel > .info > h2 {
    margin: auto auto;
    text-decoration: none;
}
.panel > .info > a {
    flex-grow: 0;
}
.panel > .info > a > * {
    width: auto;
    text-align: center;
}
.sub h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 19px;
}

.bun {
    flex-wrap: nowrap;
    align-items: center;
}
@media (max-width:960px)  {
    .bun {
        flex-direction: column-reverse;
        flex-grow: 1;
    }
    .burger {
        flex-grow: 1;
    }
    .burger > a {
        width: 100%;
    }
    .burger > a > .content {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .patty {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        width: 50% !important;
    }
}
.burger {
    display: flex;
    align-items: center;
}
.burgerbasis {
    flex-basis: 0;
    width: 100%;
}
.patty {
    margin-bottom: 0px !important;
    padding-top: calc(4pt + 5px);
    padding-bottom: calc(4pt + 5px);
}

/*@media screen and (max-aspect-ratio: 13/9) {*/
@media (max-width:960px)  {
    .mobileV {
        flex-direction: column;
    }
    .info p, .info h2, .sub h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .panel > .info > * {
        min-width: 50px;
    }
    .panel > .info > p, .panel > .info > h2 {
        /*min-width: calc(100% - 250px);*/
        min-width: 70%;
    }
}
/*@media screen and (min-aspect-ratio: 13/9) {*/
@media (min-width:961px)  {
    .mobileV {
        flex-direction: row;
    }
    .panel > .info > img:not(.mobileV) {
        max-width: 100px;
    }
    .info > p, .info > h2, .sub h2 {
        text-align: left;
    }
    .panel > .info > * {
        min-width: 100px;
    }
}
